#header {
        height: 50px;
        background: #2d4363;
        color : #ffffff;

}

#branding h1 {

    color : #fff;

}

a:link, a:visited {

    color: #2d4363;
}

div.breadcrumbs {

    background: #2d4363;
    color: #fff;
}
/* .module caption, lose '.' */
.module h2, .module caption, .inline-group h2 {

    background:#29ab88;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #2d4363;
}
.brands{
    margin-left : 15px;
}